swagger: "2.0"
info:
  description: "API for MERY Writing SPA"
  version: "0.0.1"
  title: "MERY WRITING API"
host: "writing.mery.jp"
basePath: "/api"
tags:
- name: "article"
  description: "for Article"
schemes:
- "https"
paths:
  /articles:
    post:
      tags:
      - "article"
      summary: "Create a new branc article"
      description: ""
      operationId: "createArticle"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Article"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Article"
  /articles/{article_id}:
    put:
      tags:
      - "article"
      summary: "Update an existing article"
      description: ""
      operationId: "updateArticle"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "article_id"
        in: "path"
        description: "ID of article"
        required: true
        type: "integer"
        format: "int64"
      - in: "body"
        name: "body"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Article"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Article"
        404:
          description: "Article not found"
        405:
          description: "Validation exception"
    get:
      tags:
      - "article"
      summary: "Find an article by id"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: "getArticle"
      produces:
      - "application/json"
      parameters:
      - name: "article_id"
        in: "path"
        description: "ID of article"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Article"
        404:
          description: "Article not found"
  /articles/{article_id}/upload/thumbnail:
    post:
      tags:
      - "article"
      summary: "Upload a thumbnail to an article"
      description: ""
      operationId: "updateArticleThumbnail"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "article_id"
        in: "path"
        description: "ID of article"
        required: true
        type: "integer"
        format: "int64"
      - name: "file"
        in: "formData"
        description: "file to upload"
        required: false
        type: "file"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Article"
        404:
          description: "Article not found"
        405:
          description: "Validation exception"
definitions:
  Article:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
      category:
          $ref: "#/definitions/Category"
      items:
        type: "array"
        items:
          $ref: "#/definitions/Item"
  Category:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
  Item:
    type: "object"
    required:
    - "name"
    - "photoUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      category:
        $ref: "#/definitions/Category"
      name:
        type: "string"
        example: "doggie"
      photoUrls:
        type: "array"
        xml:
          name: "photoUrl"
          wrapped: true
        items:
          type: "string"
